<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>My Bookings</title>
  </head>
  <body>
    <h1>My Bookings</h1>

    <h2>Upcoming Bookings</h2>
    <% if (upcomingBookings && upcomingBookings.length > 0) { %> <%
    upcomingBookings.forEach(function(booking) { %>
    <div class="booking">
      <h3>
        Provider: <%= booking.providerId && booking.providerId.firmname ?
        booking.providerId.firmname : "Provider not available" %>
      </h3>
      <p>
        Event Start Date: <%= booking.eventDate ? new
        Date(booking.eventDate).toLocaleString() : 'Date not available' %>
      </p>
      <p>
        Event End Date: <%= booking.endDate ? new
        Date(booking.endDate).toLocaleString() : 'Date not available' %>
      </p>
      <p>Status: <%= booking.status %></p>
    </div>
    <% }); %> <% } else { %>
    <p>No upcoming bookings.</p>
    <% } %>

    <h2>Previous Bookings</h2>
    <% if (previousBookings && previousBookings.length > 0) { %> <%
    previousBookings.forEach(function(booking) { %>
    <div class="booking">
      <h3>
        Provider: <%= booking.providerId && booking.providerId.firmname ?
        booking.providerId.firmname : "Provider not available" %>
      </h3>
      <p>
        Event Start Date: <%= booking.eventDate ? new
        Date(booking.eventDate).toLocaleString() : 'Date not available' %>
      </p>
      <p>
        Event End Date: <%= booking.endDate ? new
        Date(booking.endDate).toLocaleString() : 'Date not available' %>
      </p>
      <p>Status: <%= booking.status %></p>
    </div>
    <% }); %> <% } else { %>
    <p>No previous bookings.</p>
    <% } %>
  </body>
</html>
